doctype html
html
  head
    title UNEME - CAPA
    
    script(src="javascripts/jquery-3.1.1.js")
    script(type="text/javascript" src="javascripts/materialize.min.js")
    
    link(rel="stylesheet" type="text/css" href="stylesheets/style.css")
    link(rel="stylesheet" type="text/css" href="stylesheets/materialize.min.css")
    link(rel="stylesheet" type="text/css" href="fonts/iconfont/material-icons.css")
      
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    
  body
        div(class="z-depth-3 col s12 m10 l10 offset-l1")
          div(class="row")
            br
            div(class="col s2 push-s1")
              img(src="images/logo.jpg" width="200" height="100" class="")
            div(class="col s6 ")
              h4(class="right green-text darken-3") UNEME - CAPA
          div(class="row")
            div(class="col s2 push-s1")
              ul(id="slide-out" class="sidenav")
                li
                  div(class="user-view")
                    div(class="background")
                      img(src="images/fondo.jpg")
                    a(href="#user")
                      img(class="circle" src="images/user_soporte.png")
                    a(href="#name")
                      span(class="black-text name") Trabajador social
                    a(href="#email")
                      span(class="black-text email") prueba_trabajosocial@gmail.com
                li
                  a(href="/seguimientoprincipal") Notas de seguimiento
                    i(class="material-icons") folder 
                li
                  a(href="seguimientoregistro") Registrar nota seguimiento
                    i(class="material-icons") subject
                li
                  a(href="/logout/") Cerrar sesión
                    i(class="material-icons") exit_to_app
              a(href="#" data-target="slide-out" class="sidenav-trigger")
                i(class="material-icons" ) menu   
        

        div(class="row padding-top padding-bottom")
          div(class="col s6 push-s3")
            h5(class="green darken-2" class="center white-text") Detalles nota de seguimiento
        div(class="container")
          br
          div(class="row padding-top padding-bottom")
            div(class="z-depth-1 col s12 m10 l10 offset-l1")
              div(class="row")
                form(class="col s10 push-s1 pull-s1")
                  div(class="row")
                    div(class="input-field col s6 pull-6")
                      input(name="NumeroExpediente" id="NoExpediente" type="text" class="validate" value=data.nota_seguimiento.NumeroExpediente readonly)                   
                      label(for="NoExpediente") Número de expediente
                  div(class="row")
                    div(class="input-field col s12")
                      input(name="NombrePaciente" id="NombrePaciente" type="text" class="validate" value=data.nota_seguimiento.Nombre readonly)
                      label(for="NombrePaciente") Nombre del paciente
                  div(class="row")
                    div(class="input-field col s6 ")
                      input(name="Fecha" id="Fecha" type="text" class="validate" value=data.nota_seguimiento.FechaNota readonly)
                      label(for="Fecha") Fecha de registro de la nota
                    div(class="input-field col s6")
                      input(name="Hora" id="Hora" type="text" class="validate" value=data.nota_seguimiento.HoraNotaSeguimiento readonly)
                      label(for="Hora") Hora de registro de la nota
                  div(class="row")
                    div(class="input-field col s12")
                       textarea(class="materialize-textarea" readonly)=data.nota_seguimiento.ResumenNotaSeguimiento
                       label(for="Resumen") Resumen de la nota
                  div(class="row")
                    div(class="input-field col s12")                       
                       textarea(name="Diagnostico" class="materialize-textarea" readonly)=data.nota_seguimiento.DiagnosticoNotaSeguimiento
                       label(for="Diagnostico") Diagnóstico
                  div(class="row")
                    div(class="input-field col s12")                      
                       textarea(name="Pronostico" class="materialize-textarea" readonly)=data.nota_seguimiento.PronosticoNotaSeguimiento
                       label(for="Pronostico") Pronóstico
                  div(class="row")
                    div(class="col s5 push-s4 ")
                      a(class="waves-effect waves-light btn right green darken-1" target="_blank" href=`/seguimientoPDF/${data.nota_seguimiento.idNotaSeguimiento}`) PDF
                    div(clas="col s5 pull-s3")
                      a(class="waves-effect waves-light btn right blue-grey darken-4 ") Inicio  
    
    
        script.
              (function($){
                $(function(){
                $('.sidenav').sidenav();
                });
              })(jQuery);
          
          
