doctype html
html
  head
    title UNEME - CAPA
    
    script(src="javascripts/jquery-3.1.1.js")
    script(type="text/javascript" src="javascripts/materialize.min.js")
    
    link(rel="stylesheet" type="text/css" href="stylesheets/style.css")
    link(rel="stylesheet" type="text/css" href="stylesheets/materialize.min.css")
    link(rel="stylesheet" type="text/css" href="fonts/iconfont/material-icons.css")
      
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    
  body
        div(class="z-depth-3 col s12 m10 l10 offset-l1")
          div(class="row")
            br
            div(class="col s2 push-s1")
              img(src="images/logo.jpg" width="200" height="100" class="")
            div(class="col s6 ")
              h4(class="right green-text darken-3") UNEME - CAPA
          div(class="row")
            div(class="col s2 push-s1")
              ul(id="slide-out" class="sidenav")
                li
                  div(class="user-view")
                    div(class="background")
                      img(src="images/fondo.jpg")
                    a(href="#user")
                      img(class="circle" src="images/user_soporte.png")
                    a(href="#name")
                      span(class="black-text name") Recepcionista
                    a(href="#email")
                      span(class="black-text email") prueba_recepcionista@gmail.com
                li
                  a(href="citasprincipal") Ver citas
                    i(class="material-icons") event
                li
                  a(href="agendarcitas") Agendar cita
                    i(class="material-icons") event_note
                li
                  a(href="reasignar") Reasignar psicólogo
                    i(class="material-icons") low_priority
                li
                  a(href="/logout/") Cerrar sesión
                    i(class="material-icons") exit_to_app
              a(href="#" data-target="slide-out" class="sidenav-trigger")
                i(class="material-icons") menu   
        

        div(class="row padding-top padding-bottom")
          div(class="col s6 push-s3")
            h5(class="green darken-2" class="center white-text") Detalles de la cita
        div(class="container")
          br
          div(class="row padding-top padding-bottom")
            div(class="z-depth-1 col s12 m10 l10 offset-l1")
              div(class="row")
                form(class="col s10 push-s1 pull-s1" method="post" action="/cita/actualizar/"+data.citaR.idAgenda+"?_method=PUT")
                  div(class="row")
                    div(class="input-field col s6 pull-6")
                      input(name="idAgenda" id="idAgenda" type="text" class="validate" value=data.citaR.idAgenda readonly)                   
                      label(for="idAgenda") Id cita
                  div(class="row")
                    div(class="input-field col s12")
                      input(name="NombrePaciente" type="text" class="validate" value=data.citaR.Nombre readonly)
                      label(for="NombrePaciente") Nombre del paciente
                  div(class="row")
                    div(class="input-field col s6")
                      input(name="Telefono" type="text" class="validate" value=data.citaR.TelefonoPaciente readonly)
                      label(for="Telefono") Telefono 
                    div(class="input-field col s6")
                      input(name="Area" type="text" class="validate" value=data.citaR.AreaAgendaCitas readonly)
                      label(for="Area") Área                                   
                  div(class="row")
                    div(class="input-field col s6")
                      input(name="Fecha" type="text" class="validate" value=data.citaR.Fecha readonly)
                      label(for="Fecha") Fecha de la cita
                    div(class="input-field col s6")
                      input(name="Hora" type="text" class="validate" value=data.citaR.HoraAgendaCitas readonly)
                      label(for="Hora") Hora de la cita               
                  div(class="row")                    
                    div(class="input-field col s12")
                      textarea(name="Observaciones" class="materialize-textarea" readonly)=data.citaR.ObservacionesAgendaCitas
                      label(for="Observaciones") Observaciones   
                  div(class="row")
                    div(class="input-field col s4 ")
                      label(for="Horas") Indique hora:
                  div(class="row")
                    div(class="input-field col s4 ")
                      input(name="Llegada" id="llegada" type="text" class="validate" value=data.citaR.HoraLlegadAgendaCitas)
                      label(for="Llegada") Llegada
                    div(class="input-field col s4")
                      input(name="Entrada" id="Entrada" type="text" class="validate" value=data.citaR.HoraEntradaAgendaCitas)
                      label(for="Entrada") Entrada
                    div(class="input-field col s4")
                      input(name="Salida" id="Salida" type="text" class="validate" value=data.citaR.HoraSalidaAgendaCitas)
                      label(for="Salida") Salida                               
                  div(class="row")
                    div(class="col s5 push-s4")
                      button(class="waves-effect waves-light btn right green darken-1" type="submit") Guardar
                    div(clas="col s5 pull-s3")
                      a(class="waves-effect waves-light btn right blue-grey darken-4 ") Inicio 
    
    
        script.
              (function($){
                $(function(){
                $('.sidenav').sidenav();
                });
              })(jQuery);
              $(document).ready(function(){
                $('select').formSelect();
              });
          
          
